<div class="content-page">
  <div class="content ">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <!-- <div class="page-title-right">
            <ol class="breadcrumb m-0">

              <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div> -->

          <h4 class="page-title">Sản Phẩm</h4>

          <div class="col-sm-6">
            <div id="example1_filter" class="dataTables_filter">
              <label style="display: flex;">
                <h4 style="padding-right: 10px;">Search: </h4><input type="text" name="TenSP" type="search"
                  placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon8" class="form-control"
                  [(ngModel)]="val.TenSP" (ngModelChange)="Search()">
              </label>

            </div>
          </div>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
            style="margin-bottom:15px" (click)="creat()">CREAT </button>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <!-- Start Content-->
          <div class="container-fluid">
            <!-- <button><a href="">thêm</a></button> -->

            <!-- <h3 class="table">THÊM</h3> -->
            <table class="table table-bordered table-default ">

              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã sản phẩm</th>
                  <th scope="col">Tên sp</th>
                  <th scope="col">Mã Loại</th>
                  <th scope="col">Hình ảnh</th>
                  <th scope="col">Mô Tả Chi Tiết</th>
                  <th scope="col">Khuyến Mại</th>
                  <th scope="col">Màu sắc</th>
                  <th scope="col">Số Lượng</th>
                  <th scope="col">Giá</th>
                </tr>
              </thead>


              <tbody
                *ngFor="let list of list_item | paginate : { itemsPerPage: 5, currentPage: page, totalItems: totalLength}; let i=index">
                <tr>

                  <!-- <th scope="row">
                    {{i}}
                  </th> -->
                  <td class="page-item">{{((page-1)*5)+i+1}}</td>
                  <td>{{list.MaSP}}</td>
                  <td>{{list.TenSP}}</td>

                  <td>{{list.MaLoai}}</td>
                  <td><img src="{{PhotoPath}}/{{list.AnhSP}}" alt="" style="height:100px; "> </td>
                  <td>{{list.MoTa}}</td>
                  <td>{{list.Sale}}%</td>
                  <td>{{list.TenMS}}</td>
                  <td>{{list.SoLuong}}</td>
                  <td>{{list.Gia | number: '1.0-0' }}Đ</td>
                  <td><button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                      style="margin-top:35px" (click)="editproduct(list)"> EDIT</button></td>
                  <td><button type="button" class="btn btn-info" style="margin-top:35px"
                      (click)="deleteproduct(list.MaSP)">DELETE</button></td>
                </tr>

              </tbody>
            </table>

            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="page = $event">
            </pagination-controls>

          </div> <!-- container -->

        </div> <!-- end card-box-->
      </div>
    </div> <!-- content -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{formHeader}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- <div class="form-group">
                <label for="recipient-name" class="col-form-label">Mã Sản Phẩm:</label>
                <input type="text" class="form-control" [(ngModel)]="val.MaSP" name="MaSP" >
              </div> -->
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Tên Sản Phẩm:</label>
                <input type="text" class="form-control" [(ngModel)]="val.TenSP" name="TenSP">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Mã loại:</label>
                <input type="text" class="form-control" [(ngModel)]="val.MaLoai" name="MaLoai">
              </div>

              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Hình ảnh:</label>
                <input type="file" (change)="onFileSelected($event)" class="form-control" [(ngModel)]="val.AnhSP"
                  name="AnhSP">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Mô Tả:</label>
                <input type="text" class="form-control" [(ngModel)]="val.MoTa" name="MoTa">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Sale:</label>
                <input type="text" class="form-control" [(ngModel)]="val.Sale" name="Sale">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Tên mà sắc:</label>
                <input type="text" class="form-control" [(ngModel)]="val.TenMS" name="TenMS">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Số Lượng:</label>
                <input type="text" class="form-control" [(ngModel)]="val.SoLuong" name="SoLuong">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Giá:</label>
                <input type="text" class="form-control" [(ngModel)]="val.Gia" name="Gia">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="save(formHeader)">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script>

      var myModal = document.getElementById('myModal')
      var myInput = document.getElementById('myInput')

      myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
      })
    </script>



  </div>
